{
  "reporter": ["lcov", "text"],
  "include": ["*.ts", "**/*.ts"],
  "extension": [".js", ".jsx", ".ts", ".tsx"],
  "exclude": ["dist/test/", "dist/**/.spec.js", "dist/index.js", "dist/typings/*", "coverage/*","src/test/**/*.*"],
  "all": true
}